:root {
  --line-empty-border: #c6c6c6;
  --line-color-border: #3498db;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  display: flex;

  height: 100vh;
  background-position: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  width: 35rem;
  max-width: 100%;
  position: relative;
}

.circle {
  background-color: rgb(116, 241, 124);
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-empty-border);

  &-active {
    border-color: #3498db;
  }
}

.progress-container::before {
  content: "";
  background-color: #e0e0e0;
  height: 4px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  //   transform: translateY(50%);
}

.progress {
  background-color: #3498db;
  height: 4px;
  width: 0%;
  position: absolute;
  top: 50%;
  left: 0;
  //   transform: translateY(50%);
  z-index: -1;
  transition: all 0.4s ease;
}

.btn {
  background-color: var(--line-color-border);
  border-radius: 6px;
  padding: 0.8rem 3rem;
  margin: 0.5rem;
  border: 0;
  font-size: 1.4rem;
  color: white;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn-disable {
  background-color: var(--line-empty-border);
  cursor: not-allowed;
}
